

.name h1{
    font-family: 'Suez One', serif;
    font-size: 35px;
    margin: 30px 30px 0 30px;
}

a{
    color: black;
}
a:hover{
    color:rgb(24, 24, 24);
}

.name h2{
    font-size: 15px;
    margin: 0 30px;
    opacity: 0.5;
}



.introduction {
    margin: 100px;
}

.circle{
    height: 3em;
    width: 3em;
    border-radius: 50%;
    position: absolute;
    opacity: 0.7;

}

#a {
    transform: scale(2, 2);
    background-color: #FFC971;
    top: 2%;
    z-index: -2;
}
#b {
    background-color: #fa7d23;
    border-radius: 50%;
    position: absolute;
    top: 15%;
    right: 88%;
    z-index: -1;
}

#c{
    transform: scale(3, 3);
    background-color: #E2711D;
    top: 40%;
    right: 9%;
    z-index: -1;
}
#d {
    transform: scale(2, 2);
    background-color: #FF9505;;
    top: 31%;
    right: 70%;
    z-index: -2;
}

#e {
    background-color: #FFB627;
    top: 50%;
    right: 87%;
    z-index: -2;
}

.projects {
    margin-top: 10px;
}

.project img{
    margin-top: 30px;
    opacity: 0.7;
    transition: opacity 0.8s
}

.project img:hover {
    opacity: 100;
    transition:opacity 0.4s
}

.project h3{
    font-size: 20px;
    margin-top: 5px;
}

.project p{
    font-size: 14px;
}

#work{
    border-radius: 5px;
    background-color: #E2711D;
    margin: 30px 0 40px 0;
}

#work:hover{
    background-color: #ffa42c;
}

.services {
    margin-top: 50px;
}

.services h2 {
    font-size: 40px;
}

.services h4 {
    font-size: 20px;
}

.social-links-icon{
    height: 3em;
    width: 3em;
    margin: 5px;
}

.social-links-icon:hover{
    opacity: 0.7;
}

/* project page styling */


.programs-used{
    padding-left: 100px;
}

.project-intro {
    margin-top: 50px;
}

.single-project {
    margin: 0 30px 30px 30px;
}